* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

.container {
  width: 100%;
  max-width: 500px;
  background-color: black;
  color: white;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  overflow: auto;
  max-height: 100%;
  box-sizing: border-box;
}

table {
  box-sizing: border-box;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
}

table td input {
  width: 90%; /* Ocupa 90% da célula, ajuste conforme necessário */
  margin: 0 auto;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #222;
  color: white;
  box-sizing: border-box;
}

table td {
  padding: 10px;
  text-align: center;
  position: relative;
}

th,
td {
  box-sizing: border-box;
  min-width: 25px;
  border: 1px solid #ddd;
  text-align: center;
  word-break: break-word;
}

.total-row {
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.1);
}

button {
  border: 1px solid #ddd;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

input {
  box-sizing: border-box;
  margin: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #222;
  color: white;
}

input:focus {
  outline: none;
  border: 1px solid #fff;
}

/* Media Query para telas menores */
@media (max-width: 600px) {
  button {
    width: 100%;
  }

  input {
    width: 100%;
  }

  table {
    font-size: 14px;
  }
}
